@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --myblue: rgba(71, 91, 163, 0.935);
    --mygray: #A0A0A0;
    --mymenuhovercolor: rgb(220, 220, 220);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
}

/* ---------------------------------------------- */

.infotable {
    min-width: 50%;
    border: 1px solid var(--myblue);
}

.infotable th {
    white-space: nowrap;
    text-align: center;
    padding: 10px;
    background-color: var(--myblue);
    color: white;
}

.infotable td {
    border-bottom: 1px dotted var(--myblue);
    padding: 10px;
}